@use "variables" as var;
@use "mixins" as mxn;
@use 'sass:list';

* {
  margin: 0;
}

@include mxn.root();

// widescreen
@media screen and (min-width: 600px) {
  
}

a {
  text-decoration: none;
  color: list.nth(var.$colors, -1);
}

@include mxn.form_layer_mixin();

form {
  width: fit-content;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #fields-container {
    input {
      display:block;
      margin: 10px;
      @include mxn.text_input_mixin($width: 300px, $padding-y: 16px);
    }
  }
  #submit-container {
    align-self: stretch;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px;

    input {
      @include mxn.btn_mixin();
    }
    div {
      margin: 20px;
      width: 70%;
      a {
        font-weight: bold;
      }
    }
  }
}
