@use "variables" as var;
@use 'sass:color';
@use 'sass:list';

@mixin btn_mixin($width: auto, $padding-x: 10px, $padding-y:10px, $bg: list.nth(var.$colors, 4), $font-size: large) {
    background-color: $bg;
    color: white;
    border: solid #ffffff0f 0.2px;
    border-radius: 10px;
    
    width: $width;
    
    padding: $padding-y $padding-x;
    font-size: $font-size;

    &:hover {
        background-color: color.adjust($bg, $alpha: -0.2);
    }
    /* what color is this? #{$bg} */
}

@mixin text_input_mixin($width: 300px, $bg: list.nth(var.$colors, 3), $padding-x: 10px, $padding-y:10px, $font-size: medium) {
    
    color: white;
    width: $width;
    font-size: $font-size;

    border: solid #ffffff90 0.2px;
    border-radius: 10px;

    padding: $padding-y $padding-x;
    background-color: $bg;
}

@mixin form_layer_mixin($bg: list.nth(var.$colors, 1), $form-bg: list.nth(var.$colors, 2 )) {

    #layer {
        width: 100%; height: 100%;
        position: fixed; top:0; left:0;
        background-color: $bg;
        
        display: flex;
        align-items: center;
    }

    #form-container {
        width:fit-content;
        margin: auto; 
        padding: 20px;
        background-color: $form-bg;
        h3 {
            text-align: center;
            font-weight: lighter;
        }
    }
}