@use "variables" as var;
@use "mixins" as mxn;
@use "sass:list";
@use 'sass:color';



// remove default behaviour
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    // border: solid red 0.2px;
}

// global behaviour
@include mxn.root();
@include mxn.navbar($bg: list.nth(var.$colors, 3));

body {
    overflow: scroll;    
    background-color: list.nth(var.$colors, 2);
}

nav{
    margin-bottom: 0px;
    ul {
        margin-bottom: 0px;
    }
}

#navbar {
    background-color: list.nth(var.$colors, 3);
    list-style: none;

    display: flex;

    padding: 20px 15px 0px 15px;

    li {
        margin-right: 20px;
        margin-bottom: 3px;
        padding-bottom: 10px;

        display:flex;
        flex-basis: 100px;

        align-items: center;

        img {
            margin-right: 10px;
        }

        &:hover {
            border-bottom: solid list.nth(var.$colors, 4);
            margin-bottom: 0px;
            cursor:pointer;
        }
    }
}

#buttons-container {
    display: flex;
    justify-content: flex-end;
}

.profile-picture {
    border-radius: 50%;
}

button {
    @include mxn.btn_mixin($bg: list.nth(var.$colors, 3), $padding-y: 1px, $font-size: medium);
    margin: 10px 10px;
}

table {
    margin-left: 20px;
    margin-bottom: 20px;

    width: 95%;
}

tr:nth-child(1) td {
    background-color: list.nth(var.$colors, 1);
}

td {
    @include mxn.clickable(list.nth(var.$colors, 2));

    display: flex;
    align-items: center;

    padding: 10px 15px;

    img {
        margin-right: 20px;
    }

    a {
        color:#ffffff;
    }

    span {
        color: list.nth($list: var.$colors, $n: 4);
        font-weight: bold;
    }

    border-bottom: solid #ffffff90 0.2px;
}

.delete {
    margin-left: auto;
}

#details-section {
    margin: 60px 0px 5px 20px;
    h4 {
        margin-bottom: 10px;
    }
    
}

#repository-description {
    color: #ffffff90;
}

#owner {
    margin-top: 10px;
    padding:10px 0px;
    border-bottom: solid #ffffff90 0.2px;
}

#collaborators-list {
    height: 130px;
    overflow: scroll;
}

.collaborator-container {
    padding: 7px 0px;
    display: flex;
    align-items: center;
    img {
        margin-right: 20px;
    }
}

#add-collaborator {
    @include mxn.clickable($bg: #ffffff00);

    font-weight: bold;
    color: list.nth(var.$colors, 4);

    width:fit-content;
    margin-left: auto;
    margin-right: 20px;
}

@media screen and (min-width: 600px) {
    main {
        max-width: 1300px;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
    }

    #files-section {
        flex-basis: 800px;
    }

    #details-section {
        flex-basis: 400px;
    }

    button {
        @include mxn.bordered();
        box-shadow: none;
        padding: 8px;

    }
}
