{% extends "palinodes_app/layout.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href={% static 'palinodes_app/css/dashboard.css' %}>
{% endblock stylesheet %}

{% block title %}
<title>Dashboard</title>
{% endblock title %}

{% block nav_items %}
<li><img src="{%get_media_prefix%}assets/logo.png" width="35px" alt="logo, the letter p with a bar crossing it, looking like a note on sheet music zoomed in"></li>
<li><img id="profile-picture" src="{{user.profile.avatar.url}}" alt="profile picture" width="50" height="50"></li>
{% endblock nav_items %}

{% block body %}

<main>
    <div id="dash-btns-container">
        <!-- <button class="repositories-toggle">Owned</button>
        <button class="repositories-toggle">Collaborating</button> -->
        <button id="new">New</button>
    </div>
    

    <form id="search-form">
        <input type="search" name="search" aria-label="search form" placeholder="Search">
    </form>

    <div id="repositories-container">
        {% for repository in user.profile.repositories %}
        <div class="repository-card">
            <a href="{% url 'repository' repository.pk %}" class="link-layer"></a>
            <div>
                <img src="{% get_media_prefix %}assets/audio-wave.png" alt="soundwave icon">
                <h4>{{repository.name}}</h4>
                <div class="bell">
                    <img src="{% get_media_prefix %}assets/bell-fill.png" alt="bell icon">
                </div>
                
            </div>
            <p>{{repository.description}}</p>
            <div class="collaborators">
                <img src="{% get_media_prefix %}assets/people.png" alt="people icon">
                <p>{{repository.number_of_collaborators}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
</main>

{% endblock body %}