{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}{% endblock stylesheet %}
    {% block title %}{% endblock title %}
</head>
<body>
<nav>
    <ul>
        <li> logo </li>
        <li><img src="{{user.profile.avatar.url}}" alt="profile picture" width="50" height="50"></li>
        <li><a href="">Logout</a></li>
    </ul>
</nav>
{% block body %}{% endblock body %}  
</body>
</html>