{% extends "palinodes_app/auth.html" %}

{% block form %}
<h3>Login</h3>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div id="fields-container">
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
    </div>
    <div id="submit-container">
        <input type="submit" value="Login">
        <div>
            <p>Don't have an account?</p>
            <a href="{% url 'register' %}">Register here.</a>O
        </div>
    </div>
</form>
{% endblock %}
