{% extends "palinodes_app/auth.html" %}

{% block form %}
<h3>Register</h3>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div id="fields-container">
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmation" placeholder="Confirm Password">
    </div>
    <div id="submit-container">
        <input type="submit" value="Register">
        <div>
            <p>Already have an account?</p>
            <a href="{% url 'login' %}">Log In here.</a>
        </div>
        
    </div>
</form>
{% endblock form %}
